/vendor/
node_modules/
.env
.env.backup
.env.production
public/build/
public/hot/
storage/logs/
storage/framework/
dist/
dist-ssr/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
npm-debug.log
yarn-error.log